.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #e9ecefe8;
}

.register-form {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-form label {
  color: grey;
}

.register-form input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
}

.register-form button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  cursor: pointer;
}