.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #e9ecefe8;
}

.login-form {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form label {
  color: grey;
}

.login-form input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
}

.login-form button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form .link {
  color: #4caf50;
  cursor: pointer;
}

.login-form p {
  margin-top: 2rem;
}