.poster {
    width: 100%;
    height: auto;
  }
  
  .job-listings-container {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 60%; 
    margin: 0 auto; 
  }
  
  
  .job-card {
    flex: 1 1 calc(33.333% - 20px);
    /* Adjust the percentage for three items per row, minus the gap */
    margin-bottom: 20px;
  }
  
  .title {
    font-size:x-large;
    margin:20px;
    display: center;
  }